ATAMALAR_DB_URL=postgresql://postgres:FhbvMaVsBJpThkPFbosYgcmmoPCQHcUJ@gondola.proxy.rlwy.net:43251/railway
BODY_SIZE_LIMIT=10mb
BUNNYCDN_ACCESS_KEY=816998f8-00c8-4443-b0448c9aa260-d24b-4e04
BUNNYCDN_PULL_ZONE=https://erax-cdn.b-cdn.net
BUNNYCDN_STORAGE_ZONE=erax-storage
CORS_CREDENTIALS=true
CORS_ORIGIN=https://www.eradil.online,https://eradil.online
DB_CONNECTION_LIMIT=10
DB_CONNECT_TIMEOUT=60000
DB_IDLE_TIMEOUT=30000
DEFAULT_PORT=3002
DIGIBUCH_DB_URL=postgresql://postgres:nOmxXsIIOmRphhCJKjVOaoDdpCgFlRnb@crossover.proxy.rlwy.net:38145/railway
FRONTEND_DOMAIN=https://www.eradil.online
ICERIK_DB_URL=postgresql://postgres:bXHhJFmKtEBQofDnLtRehrvpDNwMpimT@tramway.proxy.rlwy.net:39411/railway
IZINLER_DB_URL=postgresql://postgres:OgOyMbRviHkXTzukAmJsbFcfIBXKZYAH@yamanote.proxy.rlwy.net:53985/railway
JWT_SECRET="q!6tZ9dF@lW2e#hPz7yJ3kQh4@4Rm2V8gKmW1oF5pZsT9#G7vZtPzD@8Q9mF2Wz"
KULLANICI_BACKEND_URL=https://eradil-kullanici.onrender.com/
KULLANICI_DB_URL=postgresql://postgres:acveIHnvPDPhjXUOKFFWwmEABrvPfRWH@tramway.proxy.rlwy.net:20215/railway
NODE_ENV=production
ORGANIZASYON_DB_URL=postgresql://postgres:qkLOiVcCPNzgRJtcyrUBtKQWQNVTrajV@yamabiko.proxy.rlwy.net:32350/railway
PORT=3002
PUAN_DOGRU_CEVAP=10
RATE_LIMIT=100
RATE_LIMIT_WINDOW_MS=60000
SEVIYE_DB_URL=postgresql://postgres:lBcXEOgVfRxBkQUYaqWiltaNbxwRuERY@shuttle.proxy.rlwy.net:16992/railway
UPLOAD_BASE_PATH=/home/qcuqizb0kedn/public_html/eradil.online
UPLOAD_DOMAIN=https://www.eradil.online,https://eradil.online
UPLOAD_SECRET="q!6tZ9dF@lW2e#hPz7yJ3kQh4@4Rm2V8gKmW1oF5pZsT9#G7vZtPzD@8Q9mF2Wz"
UPLOAD_URL=https://www.eradil.online/api/upload.php
USE_BUNNYCDN=true
